[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
EnvironmentFile=-/home/appuser/.env
Type=simple
User=appuser
WorkingDirectory=/home/appuser/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
